
<p>{{premierePhoto.VIP_PRENOM}} {{premierePhoto.VIP_NOM}}</p>
<img src="/images/vip/{{premierePhoto.PHOTO_ADRESSE}}" width="250" height="330">


<table id="tabAlbum">

    <tr>
    {{#each photos}}

        {{#ifCond @index '%' 4}}        
            <td>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
            </td>
        {{else}}
            <tr>
            </tr>
            <td>
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
            </td>
        {{/ifCond}}

    {{/each}}
    </tr>

</table>

<p id="debut">Début</p>
<p id="precedent">Précédent</p>
<p id="suivant">Suivant</p>
<p id="fin">Fin</p>
