<p id="flecheAvant"><a href="/album/{{vipCourant}}/{{indiceCourant}}/{{photoPrecedente}}"><<</a></p>

<p>{{photo1.VIP_PRENOM}} {{photo1.VIP_NOM}}</p>
<img src="/images/vip/{{photosVips.PHOTO_ADRESSE}}" width="250" height="330">

<p id="flecheApres"><a href="/album/{{vipCourant}}/{{indiceCourant}}/{{photoSuivante}}">>></a></p>

<fieldset id="commentairePhoto">
    <legend>Commentaire</legend>
    <p>{{photosVips.PHOTO_COMMENTAIRE}}</p>
</fieldset>

{{> tableauVip}}