<table>

    <tr>
    {{#each photos12}}

        {{#ifCond @index '%' 4}}        
            <td>
                <a href="/album/{{this.VIP_NUMERO}}/{{../indiceCourant}}/0">
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
                </a>
                <p>{{this.VIP_NOM}} {{this.VIP_PRENOM}}
            </td>
        {{else}}
            <tr>
            </tr>
            <td>
                <a href="/album/{{this.VIP_NUMERO}}/{{../indiceCourant}}/0">
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
                </a>
                <p>{{this.VIP_NOM}} {{this.VIP_PRENOM}}
            </td>
        {{/ifCond}}

    {{/each}}
    </tr>

</table>

<p id="debut"><a href="/album/{{vipCourant}}/0/0">Début</a></p>
<p id="precedent"><a href="/album/{{vipCourant}}/{{indicePrecedent}}/0">Précédent</a></p>
<p id="suivant"><a href="/album/{{vipCourant}}/{{indiceSuivant}}/0">Suivant</a></p>
<p id="fin"><a href="/album/{{vipCourant}}/{{indiceFin}}/0">Fin</a></p>