<fieldset id="fieldArticlesDetail">
    <legend>Article</legend>
    {{#if articles}}
        {{#each articles}}
        <p><U>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</U>
        <p>{{this.ARTICLE_RESUME}}</p>
        <p>[Ajouté le {{formatDate this.ARTICLE_DATE_INSERT 'DD MMMM YYYY' }}]
        <a href="/repertoire/vip/{{this.VIP_NUMERO}}"><U>Voir sa fiche</U></a></p>
        {{/each}}
    {{else}}
        <p>Aucun article concernant ce vip !</p>
    {{/if}}
</fieldset>

{{> listeVips}}