{{> listeLettres}}

<img src="/images/vip/{{photo.PHOTO_ADRESSE}}" width="160" height="200">
<p><b>Nom : </b> {{infos.VIP_PRENOM}} {{infos.VIP_NOM}}
<p><b>Date de naissance :</b> {{formatDate infos.VIP_NAISSANCE 'DD MMMM YYYY' }}
<p><b>Nationalité :</b> {{infos.NATIONALITE_NOM}}

{{#if acteur}}
<p><b>Profession :</b>
    {{#if homme}}
        Acteur</p>
    {{else}}
        Actrice</p>
    {{/if}}

    {{#if films}}
    <p><b>Principal(aux) film(s) :</b>
        {{#each films}}
            {{this.FILM_TITRE}} ({{formatDate this.FILM_DATEREALISATION 'MMMM YYYY' }}) de <a class="infobulle" href="/repertoire/vip/{{this.NUM_REAL}}">{{this.PRENOM_REAL}} {{this.NOM_REAL}}<span><img src="/images/vip/{{this.PHOTO_REAL}}" width="80" height="100"><b>{{this.PRENOM_REAL}} {{this.NOM_REAL}}</b>{{this.DESC_REAL}}</span></a></p>
        {{/each}}
    {{/if}}
{{/if}}

{{#if mannequin}}
<p><b>Profession :</b> Mannequin </p>
    {{#if defiles}}
    <p><b>Principal(aux) défilé(s) :</b>
        {{#each defiles}}
            {{this.DEFILE_LIEU}} ({{formatDate this.DEFILE_DATE 'MMMM YYYY' }}) de <a class="infobulle" href="/repertoire/vip/{{this.COUTURIER_NUM}}">{{this.COUTURIER_PRENOM}} {{this.COUTURIER_NOM}}<span><img src="/images/vip/{{this.COUTURIER_PHOTO}}" width="80" height="100"><b>{{this.COUTURIER_PRENOM}} {{this.COUTURIER_NOM}}</b>{{this.COUTURIER_DESC}}</span></p></a>
        {{/each}}
    {{/if}}
{{/if}}

{{#if chanteur}}
<p><b>Profession :</b>
    {{#if homme}}
        Chanteur</p>
    {{else}}
        Chanteuse</p>
    {{/if}}

    {{#if albums}}
    <p><b>Principal(aux) album(s) :</b>
        {{#each albums}}
            {{this.ALBUM_TITRE}} ({{formatDate this.ALBUM_DATE 'MMMM YYYY'}}) {{this.MAISONDISQUE_NOM}}
        {{/each}}
    {{/if}}
{{/if}}

{{#if realisateur}}
<p><b>Profession :</b>
    {{#if homme}}
        Réalisateur</p>
    {{else}}
        Réalisatrice</p>
    {{/if}}
{{/if}}

{{#if couturier}}
<p><b>Profession :</b> Couturier </p>
{{/if}}

{{#if mariages}}
<p><b>Mariage(s) :</b>
    {{#each mariages}}
        <a class="infobulle" href="/repertoire/vip/{{this.NUM_MARIE}}">{{this.PRENOM_MARIE}} {{this.NOM_MARIE}}<span><img src="/images/vip/{{this.PHOTO_MARIE}}" width="80" height="100"><b>{{this.PRENOM_MARIE}} {{this.NOM_MARIE}}</b>{{this.DESC_MARIE}}</span></a> ({{formatDate this.DATE_EVENEMENT 'MMMM YYYY'}} --> {{formatDate this.MARIAGE_FIN 'MMMM YYYY'}}) <b>lieu : </b>{{this.MARIAGE_LIEU}}
    {{/each}}
{{/if}}

{{#if liaisons}}
<p><b>Liaison(s) :</b>
    {{#each liaisons}}
        <a class="infobulle" href="/repertoire/vip/{{this.NUM_AMANT}}">{{this.PRENOM_AMANT}} {{this.NOM_AMANT}}<span><img src="/images/vip/{{this.PHOTO_AMANT}}" width="80" height="100"><b>{{this.PRENOM_AMANT}} {{this.NOM_AMANT}}</b>{{this.DESC_AMANT}}</span></a> ({{formatDate this.DATE_EVENEMENT 'MMMM YYYY'}}) <b>raison fin liaison : </b>{{this.LIAISON_MOTIFFIN}}
    {{/each}}
{{/if}}

<p><b>Qui suis-je ? : </b> {{infos.VIP_TEXTE}}
<table>
    <tr>
    {{#each photos}}
    <td>
        <a href ="/images/vip/{{this.PHOTO_ADRESSE}}" data-lightbox="image-1" data-title="{{this.PHOTO_SUJET}} - {{this.PHOTO_COMMENTAIRE}}"><img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="160" height="200"></a>
    </td>
    {{/each}}
    </tr>
</table>