<table>

    <tr>
    {{#each photos}}

        {{#ifCond @index '%' 4}}        
            <td>
                <a href="/album/{{this.VIP_NUMERO}}">
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
                </a>
                <p>{{this.VIP_NOM}} {{this.VIP_PRENOM}}
            </td>
        {{else}}
            <tr>
            </tr>
            <td>
                <a href="/album/{{this.VIP_NUMERO}}">
                <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="80" height="110">
                </a>
                <p>{{this.VIP_NOM}} {{this.VIP_PRENOM}}
            </td>
        {{/ifCond}}

    {{/each}}
    </tr>

</table>

<p id="debut"><a href="#">Début</a></p>
<p id="precedent"><a href="#">Précédent</a></p>
<p id="suivant"><a href="#">Suivant</a></p>
<p id="fin"><a href="#">Fin</a></p>